
<div class="container">

    <h1>EXCELLENT PARTY</h1>
    <% park = Park.all.find { |park| park.id == @party.park_id}%>
    <h2> at <%= link_to park.name, park_path(park) %></h2>
    <h3> on <%= @party.date %> at <%= @party.time %> </h3>

    <% @party.users.each do |user| %>
        <% user.dogs.each do |dog| %>
        <%= image_tag dog.picture %>
        <% end %>
    <% end %>

</div>