
<h1>Parks</h1>
        <main class="cards">

            <% @parks.each do |park|%>            
                <article class="card z-depth-3 ">
                    <img src="<%= park.park_img %>">
                    <div class="text">
                        <h3><%= park.name %> Dog Park</h3>
                        <a class="waves-effect waves-light btn"><%= button_to 'Add to favorites', favorites_path , method: :post, params: { park_id: park.id, user_id: @current_user.id } %></a>
                    </div>
                </article>
         
            <% end %>
        </main>

        