
<div>
   park -  <%= @park.name %> <br>
   location -  <%= @park.location %>
</div>


<% if @current_user %>
    <%= button_to 'Add park to favorites', new_favorite_path, method: :get %>
<% else %>
    <%= button_to 'Sign up to add to your favorites', new_user_path, method: :get %>
<% end  %> 