<h1>DOGS</h1>
        <main class="cards grid-container">
            <% @dogs.each do |dog|%>
                <article class="card z-depth-3">
                    <img src="<%= dog.picture %>">
                    <div class="text">
                        <h3>Meet <%= dog.name %></h3>
                        <p>Connect with <%= dog.user.name %> and party!</p>
                        <button><%= link_to dog.name, dog_path(dog) %></button>
                    </div>
                </article>
            <% end %>
        </main>
