<h1>Dogs</h1>
   
        <main class="cards container">
            <% @dogs.each do |dog|%>
                <article class="card z-depth-3">
                    <img src="<%= dog.picture %>">
                    <div class="text">
                        <h3>Meet <%= dog.name.capitalize %></h3>
                        <p>Connect with <%= dog.name.capitalize %> and party!</p>
                        <a class="waves-effect waves-light btn"><%= button_to "Profile", dog_path(dog), method: :get, style:"color: white; font-family: Trebuchet MS, Helvetica, sans-serif; text-align: center" %></a>
                    </div>
                </article>
            <% end %>
        </main>
