
<p class="welcome">Welcome to Pup Party! Pup Party is a creative opportunity for you and your pup to get out and moving. Here, you'll have the opportunuty to plan "Pup Parties", checkout local events, and explore local dog parks. Make sure to sign up or sign in to take a look around!</p>

<main class="landing-grid-container">

  <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="https://humaneheroes.org/wp-content/uploads/2019/09/txhh_best-practices-when-taking-dog-park.png">
          <span class="card-title">Dogs</span>
        </div>
        <div class="card-content">
          <p>Meet the dogs of Pup Party! Sign up or sign in to get the party started!</p>
        </div>
        <div class="card-action">
          <a class="waves-effect waves-light btn-small"><%= button_to 'Dogs', dogs_path, method: :get, style:"color: white; font-family: Trebuchet MS, Helvetica, sans-serif" %></a>
        </div>
      </div>
    </div>
  </div> 


    <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQzx8o5YU5AN7R40xv2kuUm_0bi2elKu1h3VA&usqp=CAU">
          <span class="card-title">Users</span>
        </div>
        <div class="card-content">
          <p>Sign up or sign in to get in touch with other users!</p>
        </div>
        <div class="card-action">
          <a class="waves-effect waves-light btn-small"><%= button_to 'Users', users_path, method: :get, style:"color: white; font-family: Trebuchet MS, Helvetica, sans-serif" %></a>
        </div>
      </div>
    </div>
  </div>

    <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="https://www.fcgov.com/parks/img/city-park.jpg">
          <span class="card-title">Parks</span>
        </div>
        <div class="card-content">
          <p>Take a look at the beautiful parks in the area! Sign up or sign in to get the party started!</p>
        </div>
        <div class="card-action">
          <a class="waves-effect waves-light btn-small"><%= button_to 'Parks', parks_path, method: :get, style:"color: white; font-family: Trebuchet MS, Helvetica, sans-serif" %></a>
        </div>
      </div>
    </div>
  </div>
</div>



