
<main class="landing-grid-container">


  <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRsm-gIQ7kT5b-eZBN14dCnEwzjrQCWlvkjog&usqp=CAU">
          <span class="card-title">Dogs</span>
        </div>
        <div class="Dogs">
          <p>Meet the dogs!</p>
        </div>
        <div class="card-action">
          <a class="waves-effect waves-light btn-small"><%= button_to 'Dogs', dogs_path, method: :get %></a>
        </div>
      </div>
    </div>
  </div>

    <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ4Oljj76S2b-MRGzHJVJiCa-rCgfjR9oQhog&usqp=CAU">
          <span class="card-title">Parks</span>
        </div>
        <div class="Parks">
          <p>See the parks!</p>
        </div>
        <div class="card-action">
          <a class="waves-effect waves-light btn-small"><%= button_to 'Parks', parks_path, method: :get %> </a>
        </div>
      </div>
    </div>
  </div>

    <div class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQzx8o5YU5AN7R40xv2kuUm_0bi2elKu1h3VA&usqp=CAU">
          <span class="card-title">Users</span>
        </div>
        <div class="Users">
          <p>Meet our users!</p>
        </div>
        <div class="card-action">
          <a class="waves-effect waves-light btn-small"><%= button_to 'Users', users_path, method: :get %> </a>
        </div>
      </div>
    </div>
  </div>
</div>
  
  




